<!-- Cancel Contract -->
<div class="modal fade" id="cancel-contract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cancel Contract?</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this contract?
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('contract.cancel', invoice=contract.invoice) }}" class="btn btn-danger"
                   role="button">Cancel Contract</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Cancel Contract -->