<li>
    <a href="{{ url_for('message.inbox') }}" data-toggle="tooltip" data-placement="right" title="Messages"><span
            class="fa-stack fa-lg sub_icon"><i
            class="fa fa-envelope fa-stack-1x"></i></span>Messages</a>
</li>
<li>
    <a href="{{ url_for('public.settings') }}" data-toggle="tooltip" data-placement="right" title="Settings"><span
            class="fa-stack fa-lg sub_icon"><i
            class="fa fa-cogs fa-stack-1x"></i></span>Settings</a>
</li>
<li>
    <a href="{{ url_for('security.change_password') }}" data-toggle="tooltip" data-placement="right"
       title="Password"><span
            class="fa-stack fa-lg sub_icon"><i
            class="fa fa-key fa-stack-1x"></i></span>Password</a>
</li>