<li>
    <a href="{{ url_for('contract.new') }}"><span class="fa-stack fa-lg sub_icon"><i
            class="fa fa-plus fa-stack-1x"></i></span>Create</a>
</li>
<li>
    <a href="{{ url_for('contract.available') }}"><span class="fa-stack fa-lg sub_icon"><i
            class="fa fa-cubes fa-stack-1x"></i></span>Available</a>
</li>
<li>
    <a href="{{ url_for('contract.current') }}"> <span class="fa-stack fa-lg sub_icon"><i
            class="fa fa-cube fa-stack-1x "></i></span>Current</a>
</li>
<li>
    <a href="{{ url_for('contract.history') }}"><span class="fa-stack fa-lg sub_icon"><i
            class="fa fa-archive fa-stack-1x "></i></span>History</a>
</li>