{% extends "sidebar.html" %}
{% block sidebar %}
    {% include 'public/nav/_menu.html' %}
{% endblock %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
    <h1>Change password</h1>
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-3 text-center">
            <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
                {{ change_password_form.hidden_tag() }}
                {{ render_field_with_errors(change_password_form.password, class="form-control") }}<br><br>
                {{ render_field_with_errors(change_password_form.new_password, class="form-control") }}
                {{ render_field_with_errors(change_password_form.new_password_confirm, class="form-control") }}
                {{ render_field(change_password_form.submit, class="form-control btn-default") }}
            </form>
        </div>
    </div>
{% endblock %}