{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
    <div class="row">
        <div class="col-md-9 col-md-push-3">
            <h1>Login</h1>

            <div class="well">
                <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                    {{ login_user_form.hidden_tag() }}
                    {{ render_field_with_errors(login_user_form.username, placeholder="Username", class="form-control") }}
                    {{ render_field_with_errors(login_user_form.password, placeholder="Password", class="form-control") }}
                    <p><input class="btn btn-default btn-submit" type="submit" value="Login"></p>
                </form>
                <p><em>Not registered?</em> Click <a href="{{ url_for('public.register') }}">here</a> to create an account.</p>
            </div>
        </div>
        <div class="col-md-3 col-md-pull-9">
            <br><br><br><br><br>{% include "security/_menu.html" %}
        </div>
    </div>
{% endblock %}